<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user login</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 userLogin text-center">
          <div class="gitIcon">
            <img src="./../../assets/githubIcon.png" alt="github login icon">
          </div>
          <div class="loginForm">
            <p>Enter Github Username</p>
            <form #userForm='ngForm'>
              <input type="text" name="name" id="name" [(ngModel)]="user.name" (ngModelChange)="fetchUsers()">
            </form>
          </div>
        </div>
        <div class="col-md-9 userInfo">
          <h2>Github user information</h2>
          <app-repositories></app-repositories>
          <hr>
          <div class="row rowUser">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">Name: {{fetchedUser?.name}}</h5>
                    <p class="card-text">Username: {{fetchedUser?.login}}</p>
                    <p class="card-text">Bio: {{fetchedUser?.bio}}</p>
                    <p class="card-text">From: {{fetchedUser?.location}}</p>
                    <p>Following: {{fetchedUser?.following}}</p>
                    <p>Number of Followers: {{fetchedUser?.followers}}</p>
                    <p class="card-text"><small class="text-muted">Click on my profile image to see my works</small></p>
                  </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <img src="{{fetchedUser?.avatar_url}}" alt="Profile" class="card-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
