<!-- <!DOCTYPE html>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="login">
            <img src="./../../assets/githubIcon.png" alt="github login icon">
          </div>
          <div class="loginForm">
            <p>Enter Github Username</p>
            <form #userForm='ngForm'>
              <input type="text" name="name" id="name" [(ngModel)]="user.name" (ngModelChange)="fetchUsers()">
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <p>{{fetchedUser?.name}}</p>
        </div>
      </div>
    </div>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Github</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">k</div>
      <div class="col-md-6">y</div>
    </div>
  </div>
</body>
</html>
